<h1><%= @task.name %></h1>

<%= link_to "Update the task", "/tasks/#{@task.id}/edit" %>

<p>Details: <%= @task.details %></p>

<% if @task.completed == true %>
    <p>[x] This task is completed</p>
  <% else %>
    <p>[  ] This task is not completed</p>
<% end %>

<%= link_to "Back", "/tasks" %>
